[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logger = "*"
schema = "*"
pyyaml = "*"
prettytable = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
